<footer class="target">
   <div class="title">
      Yazılım ve Gelişim
   </div>
   <div class="content">
      <div class="area">
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae voluptatibus repellat iusto inventore
         nesciunt, cumque quisquam omnis corrupti eligendi maxime vitae, placeat est quas quidem earum perferendis
         itaque
         nihil quaerat.
      </div>
   </div>
   <div class="social">
      <span>
         <i class="bi bi-twitter-x"></i>
      </span>
      <span>
         <i class="bi bi-youtube"></i>
      </span>
      <span>
         <i class="bi bi-instagram"></i>
      </span>
      <span>
         <i class="bi bi-facebook"></i>
      </span>
      <span>
         <i class="bi bi-whatsapp"></i>
      </span>
   </div>
</footer>