<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">

   <title>Trying image with together create blog</title>

   <link rel="stylesheet" href="/css/fontFamily.css">
   <link rel="stylesheet" href="/css/default.css">
   <link rel="stylesheet" href="/css/topNav.css">
   <link rel="stylesheet" href="/css/footer.css">
   <link rel="stylesheet" href="/css/content.css">
   <link rel="stylesheet" href="/css/AddModal.css">
</head>

<body>